{
  "swagger": "2.0",
  "info": {
    "title": "Rate API",
    "version": "1.0"
  },
  "host": "anypoint.mulesoft.com",
  "basePath": "/mocking/api/v1/links/2b216a93-f684-4008-9831-0718b35c6caf/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/get-rate": {
      "x-amf-description": "Get rate shipment.",
      "get": {
        "operationId": "get-rate",
        "produces": [
          "application/json"
        ],
        "x-code-samples": [
          {
            "lang": "Curl",
            "source": "var client = new RestClient(\"https:\/\/anypoint.mulesoft.com\/mocking\/api\/v1\/links\/2b216a93-f684-4008-9831-0718b35c6caf\/v1\/get-rate\");\r\nclient.Timeout = -1;\r\nvar request = new RestRequest(Method.GET);\r\nrequest.AddParameter(\"text\/plain\", \"\",  ParameterType.RequestBody);\r\nIRestResponse response = client.Execute(request);\r\nConsole.WriteLine(response.Content);"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient().newBuilder()\r\n  .build();\r\nRequest request = new Request.Builder()\r\n  .url(\"https:\/\/anypoint.mulesoft.com\/mocking\/api\/v1\/links\/2b216a93-f684-4008-9831-0718b35c6caf\/v1\/get-rate\")\r\n  .method(\"GET\", null)\r\n  .build();\r\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https:\/\/anypoint.mulesoft.com\/mocking\/api\/v1\/links\/2b216a93-f684-4008-9831-0718b35c6caf\/v1\/get-rate\");\r\nclient.Timeout = -1;\r\nvar request = new RestRequest(Method.GET);\r\nrequest.AddParameter(\"text\/plain\", \"\",  ParameterType.RequestBody);\r\nIRestResponse response = client.Execute(request);\r\nConsole.WriteLine(response.Content);"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            },
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "rating": 513
              }
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    }
  },

  "definitions": {
    "RateApiwithlabelPostRequest": {
      "type": "object",
      "properties": {
        "application": {
          "type": "string"
        },
        "buyer": {
          "type": "object",
          "properties": {
            "address1": {
              "type": "string"
            },
            "address2": {
              "type": "string"
            },
            "addressCode": {
              "type": "string"
            },
            "city": {
              "type": "string"
            },
            "contact": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phoneNumber": {
                  "type": "string"
                }
              }
            },
            "country": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "organizationCode": {
              "type": "string"
            },
            "postalCode": {
              "type": "string"
            },
            "state": {
              "type": "string"
            }
          }
        },
        "deliveryInstructions": {
          "type": "string"
        },
        "orderDetails": {
          "type": "object",
          "properties": {
            "additionalTerms": {
              "type": "string"
            },
            "confirmDate": {
              "type": "string"
            },
            "confirmNumber": {
              "type": "string"
            },
            "containerMode": {
              "type": "string"
            },
            "countryOfOrigin": {
              "type": "string"
            },
            "currency": {
              "type": "string"
            },
            "date": {
              "type": "string"
            },
            "deliveryDate": {
              "type": "string"
            },
            "followupDate": {
              "type": "string"
            },
            "goodsDescription": {
              "type": "string"
            },
            "incoTerms": {
              "type": "string"
            },
            "invoiceDate": {
              "type": "string"
            },
            "invoiceNumber": {
              "type": "string"
            },
            "number": {
              "type": "string"
            },
            "requiredPickupDate": {
              "type": "string"
            },
            "serviceLevel": {
              "type": "string"
            },
            "transportMode": {
              "type": "string"
            }
          }
        },
        "orderLineDetails": {
          "type": "array",
          "items": [
            {
              "type": "object",
              "properties": {
                "commercialInvoiceNumber": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "innerPacks": {
                  "type": "object",
                  "properties": {
                    "height": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "itemPrice": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "length": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "lwhuom": {
                      "type": "string"
                    },
                    "quantity": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "quantityUOM": {
                      "type": "string"
                    },
                    "volume": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "volumeUOM": {
                      "type": "string"
                    },
                    "weight": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "weightUOM": {
                      "type": "string"
                    },
                    "width": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "itemPrice": {
                  "type": "integer",
                  "format": "int32"
                },
                "number": {
                  "type": "integer",
                  "format": "int32"
                },
                "originCountry": {
                  "type": "string"
                },
                "outerPacks": {
                  "type": "object",
                  "properties": {
                    "height": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "itemPrice": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "length": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "lwhuom": {
                      "type": "string"
                    },
                    "quantity": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "quantityUOM": {
                      "type": "string"
                    },
                    "volume": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "volumeUOM": {
                      "type": "string"
                    },
                    "weight": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "weightUOM": {
                      "type": "string"
                    },
                    "width": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "partNumber": {
                  "type": "string"
                },
                "quantityInvoiced": {
                  "type": "integer",
                  "format": "int32"
                },
                "quantityReceived": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          ]
        },
        "pickupInstructions": {
          "type": "string"
        },
        "referenceNumbers": {
          "type": "array",
          "items": [
            {
              "type": "object",
              "properties": {
                "dataType": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          ]
        },
        "supplier": {
          "type": "object",
          "properties": {
            "address1": {
              "type": "string"
            },
            "address2": {
              "type": "string"
            },
            "addressCode": {
              "type": "string"
            },
            "city": {
              "type": "string"
            },
            "contact": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phoneNumber": {
                  "type": "string"
                }
              }
            },
            "country": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "organizationCode": {
              "type": "string"
            },
            "postalCode": {
              "type": "string"
            },
            "state": {
              "type": "string"
            }
          }
        },
        "xpoCustomerId": {
          "type": "string"
        }
      }
    },
    "RateApiwithlabelPostResponse": {
      "type": "object",
      "properties": {
        "errorDetails": {
          "type": "array",
          "items": [
            {
              "type": "string"
            }
          ]
        },
        "labelSatus": {
          "type": "string"
        },
        "orderLabelTemplate": {
          "type": "object",
          "properties": {
            "labelContentAsBase64": {
              "type": "string"
            }
          }
        },
        "orderNumber": {
          "type": "string"
        },
        "orderSatus": {
          "type": "string"
        },
        "statusCode": {
          "type": "string"
        }
      }
    }
  },
  "responses": {
    "400": {
      "description": "Bad Request - There are miscellaneous errors with the request, for example, mismatches between the request and what is allowed for the operation."
    },
    "401": {
      "description": "Unauthorized or 403 Forbidden - Authentication errors."
    },
    "404": {
      "description": "Not Found - Invalid URL path."
    },
    "413": {
      "description": "Request Entity Too Large - The request data was too large. This is based on the SOA Input Size quota."
    },
    "500": {
      "description": "Internal Server Error - This generic error message appears when an unexpected condition was encountered and a more specific message is not suitable."
    },
    "503": {
      "description": "Service Unavailable - The caller has hit a throttle or the request was rejected because the Atom is starting or stopping."
    },
    "522": {
      "description": "Connection Timed Out - This message is returned to the client when the SOA Worker Maximum Execution Time has been exceeded."
    },
    "default": {
      "description": "Unidentified Exception"
    }
  },
  "security": [
    {}
  ]
}
